 @{
    ViewData["Title"] = "About";
    
}
 <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>About</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- about -->
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
                    <div class="about_img">
                        <figure><img src="~/images/about.png" alt="img" /></figure>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
                    <div class="about_box">
                        <span>Our Mobile Shop</span>
                        <p> Welcome to our unique and wonderful shop, why is it unique you ask, here and only here we have phones you cant find anywhere in this world because they're brought to you from outer space. So what are you waiting for, spend your money and get your first alien mobile phone today. </p>

                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
                    <div class="about_box_ ">
                        <span>Our Mobile Shop</span>
                        <p> Selling through social channels is the closest thing to being a fly on the in your customer's house, that's why we,the Mobishop shop, dont use ads or anything of the sort, but instead we wait for our customers to find our website somehow. Anyways, now that you,our dear customer, are already here means you already found it. </p>

                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
                    <div class="about_img">
                        <figure><img src="~/images/about.png" alt="img" /></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- end about -->